# **Introduction**:
#### Basically - I will attempt to predict the amount someone will pay for a car based on some inputs

#### The first model was a regression model. This is my classification model which worked better

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.preprocessing import MinMaxScaler
from scipy import stats
from sklearn.metrics import accuracy_score, recall_score, f1_score, precision_score, roc_auc_score, mean_squared_error, r2_score
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from sklearn.svm import LinearSVC
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.feature_selection import RFE, RFECV
from sklearn.model_selection import StratifiedKFold
import datetime as dt
from sklearn.preprocessing import PolynomialFeatures

In [2]:
df = pd.read_excel('Car_Sales.xlsx')

In [3]:
df.dropna(inplace=True)

In [4]:
df.drop('Customer Address',axis=1,inplace=True)

In [5]:
df.Date = pd.to_datetime(df.Date)
df.Date = pd.to_datetime(df.Date,format='%y%m')

In [6]:
df.reset_index(inplace=True)

In [7]:
dealer_df = df[['Price in thousands','Dealer_Name']].groupby(['Dealer_Name'],as_index=False).mean()

In [8]:
dealer_dict = {}
for i in range(len(dealer_df)):
    dealer_dict[dealer_df.iloc[i,0]]=round(float(dealer_df.iloc[i,1]),3)

In [9]:
df.Dealer_Name = df.Dealer_Name.map(lambda x: dealer_dict[x])

In [10]:
non_num_list = ['Date','Customer Name','Company','Model','Body Style','Engine','Transmission','Color','Dealer_Add','CouncilArea','Dealer_Location','Dealer_No ','Dealer_Region']

In [11]:
gender_dict = {'Male':1,'Female':0}
df.Gender = df.Gender.map(lambda x: gender_dict[x])

In [12]:
for feature in non_num_list:
    dummy_df = df[['Price in thousands',feature]].groupby([feature],as_index=False).mean()
    dummy_dict = {}
    for i in range(len(dummy_df)):
        dummy_dict[dummy_df.iloc[i,0]]=round(float(dummy_df.iloc[i,1]),3)
    df[feature] = df[feature].map(lambda x: dummy_dict[x])

In [13]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()

In [14]:
df.drop(['Engine','Dealer_No ','Dealer_Location'],axis=1,inplace=True)

In [15]:
df.drop('index',axis=1,inplace=True)

In [16]:
print(df.shape)
df.head()

(34728, 16)

,Date,Customer Name,Dealer_Name,Company,Model,Year,Body Style,Transmission,Color,Price in thousands,Dealer_Add,CouncilArea,Phone,Gender,Annual Income,Dealer_Region
0,28.910,27.875,27.602,29.302,22.298,2015,26.130,28.132,28.530,26,28.125,28.255,8264678,1,13500,27.948
1,27.442,30.042,28.050,26.276,22.368,2015,26.130,28.132,28.530,19,26.750,28.255,6848189,1,1480000,28.052
2,28.523,24.594,27.858,40.765,42.743,2015,28.730,27.790,28.424,31,32.375,28.255,7298798,1,1035000,27.914
3,28.523,25.588,28.070,29.417,25.524,2016,26.130,27.790,26.979,14,32.875,28.255,6257557,1,13500,27.904
4,27.868,26.568,27.741,24.493,22.218,2015,26.802,28.132,28.424,24,22.125,28.255,7081483,1,1465000,28.076

In [17]:
df['Price in thousands'] = (pd.qcut(df['Price in thousands'],q=4))

In [18]:
df['Price in thousands'] = df['Price in thousands'].astype(str)

In [19]:
df['Price in thousands'].unique()

array(['(23.0, 34.0]', '(18.0, 23.0]', '(8.999, 18.0]', '(34.0, 85.0]'],
      dtype=object)

In [20]:
price_dict={'(8.999, 18.0]':1,'(18.0, 23.0]':2,'(23.0, 34.0]':3,'(34.0, 85.0]':4}

In [21]:
df['Price in thousands'] = df['Price in thousands'].map(lambda x: price_dict[x])

In [22]:
df['Price in thousands'].unique()

array([3, 2, 1, 4])

In [23]:
df['Target']=df['Price in thousands']
df.drop('Price in thousands',axis=1,inplace=True)

In [24]:
df = df[(np.abs(stats.zscore(df)) <= 2).all(axis=1)]

In [25]:
print(df.shape)
df.head()

(25765, 16)

,Date,Customer Name,Dealer_Name,Company,Model,Year,Body Style,Transmission,Color,Dealer_Add,CouncilArea,Phone,Gender,Annual Income,Dealer_Region,Target
0,28.910,27.875,27.602,29.302,22.298,2015,26.130,28.132,28.530,28.125,28.255,8264678,1,13500,27.948,3
1,27.442,30.042,28.050,26.276,22.368,2015,26.130,28.132,28.530,26.750,28.255,6848189,1,1480000,28.052,2
3,28.523,25.588,28.070,29.417,25.524,2016,26.130,27.790,26.979,32.875,28.255,6257557,1,13500,27.904,1
4,27.868,26.568,27.741,24.493,22.218,2015,26.802,28.132,28.424,22.125,28.255,7081483,1,1465000,28.076,3
5,27.868,29.000,28.169,26.417,22.213,2016,26.802,27.790,28.424,24.875,28.255,7315216,1,850000,27.879,1

In [26]:
## this code is designed to find the number of features needed in the X data for an optimal accuracy score

def optimize_score_rfe(dataframe,method,style,target_variable,cross_val=5,goal='accuracy'):
    
    """
    Input a goal, method, style (the method of analysis written as a string), and number of cross validations and 
    receive an optimal score, number of features used, and list of features used as an output
    """
    
    from sklearn.preprocessing import MinMaxScaler
    from sklearn.feature_selection import RFE
    mms = MinMaxScaler()
    old_score = 0
    old_features_used = 1

    for i in range(1,df.shape[1]):
        y = dataframe.Target
        X = dataframe.drop('Target',axis=1)
        selector = RFE(method,n_features_to_select=i)
        # selector = RFECV(estimator=method, step=1, cv=StratifiedKFold(cross_val), scoring=goal,min_features_to_select=i)
        selector = selector.fit(X, y.values.ravel())
        selected_columns = X.columns[selector.support_]
        new_y = dataframe.Target
        new_X = dataframe[selected_columns]
        for col in new_X.columns:
            new_X[col] = mms.fit_transform(new_X[[col]])
        X_train, X_test, y_train, y_test = train_test_split(new_X,new_y,test_size=0.25,random_state=14) 
        method.fit(X_train,y_train)
        Y_pred = method.predict(X_test)
        if style == 'Linear_Regression':
            accuracy = r2_score(y_test, Y_pred)
        else:
            accuracy = accuracy_score(y_test, Y_pred)
        new_score = accuracy
        if new_score > old_score:
            score = new_score
            features_used = i
            old_score = new_score
            old_features_used = i
        else:
            score = old_score
            features_used = old_features_used
        # selector_new = RFECV(estimator=method, step=1, cv=StratifiedKFold(cross_val), scoring='accuracy',min_features_to_select=features_used)
        selector_new = RFE(method,n_features_to_select=features_used)
        selector_new = selector_new.fit(X, y.values.ravel())
        selected_columns_new = X.columns[selector_new.support_]

    print(f'Predicting: {target_variable}')
    print('')
    print(f'The optimal score is {100*round(score,2)}%, and it makes use of {features_used} features from the data.')
    print('')
    print(f'Those features are: {list(selected_columns_new)}')

In [27]:
start=dt.datetime.now()
optimize_score_rfe(df,LogisticRegression(random_state=14),'Logistic_Regression','Car Prcie')
print('Elapsed time: ',str(dt.datetime.now()-start))

Predicting: Car Prcie

The optimal score is 41.0%, and it makes use of 13 features from the data.

Those features are: ['Date', 'Customer Name', 'Dealer_Name', 'Company', 'Model', 'Year', 'Body Style', 'Transmission', 'Dealer_Add', 'CouncilArea', 'Phone', 'Annual Income', 'Dealer_Region']
Elapsed time:  0:00:38.794002

In [28]:
## Already an improved score from linear regression!

In [29]:
def create_polynomial_regression_model(degree,df,model_type,ts=0.25):
    
    "Creates a polynomial regression model for the given degree"
  
    poly_features = PolynomialFeatures(degree=degree)
    
    X = df.drop('Target',axis=1)
    y = df.Target
    
    X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=14,test_size=ts)
  
    # transforms the existing features to higher degree features.
    X_train_poly = poly_features.fit_transform(X_train)
  
    # fit the transformed features to Linear Regression
    poly_model = model_type
    poly_model.fit(X_train_poly, y_train)
  
    # predicting on training data-set
    y_train_predicted = poly_model.predict(X_train_poly)
  
    # predicting on test data-set
    y_test_predict = poly_model.predict(poly_features.fit_transform(X_test))
  
    # Linear Regression
    if model_type == LinearRegression():
        # evaluating the model on training dataset
        train_score = round(r2_score(y_train, y_train_predicted),3)
  
        # evaluating the model on test dataset
        test_score = round(r2_score(y_test, y_test_predict),3)
    
    # Classification
    else:
        train_score = round(accuracy_score(y_train,y_train_predicted),3)
        test_score = round(accuracy_score(y_test, y_test_predict),3)
    
  
    print("The model performance for the training set")
    print("-------------------------------------------")
    print("Score of training set is {}".format(train_score))
  
    print("\n")
  
    print("The model performance for the test set")
    print("-------------------------------------------")
    print("Score of test set is {}".format(test_score))

In [30]:
start=dt.datetime.now()
create_polynomial_regression_model(2,df[['Date', 'Customer Name', 'Dealer_Name', 'Company', 'Model', 'Year', 'Body Style', 'Transmission', 'Color', 'Dealer_Add', 'CouncilArea', 'Phone', 'Gender', 'Annual Income', 'Dealer_Region','Target']],RandomForestClassifier())
print('Elapsed time: ',str(dt.datetime.now()-start))

The model performance for the training set
-------------------------------------------
Score of training set is 1.0


The model performance for the test set
-------------------------------------------
Score of test set is 0.886
Elapsed time:  0:00:12.393205

## Wow! By using polynomials and classification in place of linear regression I was not only to improve the accuracy but by also using polynomial features I nearly doubled the training accuracy